<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sceneKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0104FF1C1D2B8A900002B767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0104FF301D2B8A910002B767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0104FF3B1D2B8A910002B767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
